.container{
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    background-color:#e2e6e6;
    border-radius: 15px;
    overflow: hidden;
    display:flex;
    box-shadow: 0 5px 20px grey;
}
.left{
    flex:1;
    background-color: #eaf3ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.left h1{
    font-size: 50px;
    margin-bottom: 5px;
    color:#222;
    
}
.left h2{
    margin-bottom: 5px;
    line-height: 0.3;
}